/* รูปแบบสำหรับส่วนต่างๆ */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* พื้นหลังโทนสีอ่อน */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #4a90e2; /* สีฟ้าหลัก */
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar .logo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100px;
}

.sidebar .nav {
    list-style: none;
    padding: 0;
}

.sidebar .nav li {
    margin-bottom: 10px;
}

.sidebar .nav li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.sidebar .nav li a:hover,
.sidebar .nav li a.active {
    background-color: #357abd; /* สีเข้มขึ้นเมื่อ hover */
}

/* Main content */
.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 40px; /* เพิ่มระยะห่างจาก sidebar */
    background-color: white;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a90e2; /* ใช้สีฟ้าเดียวกับ sidebar */
}

button[type="submit"] {
    background-color: #339dd6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 100px; /* เพิ่มระยะห่างตารางจาก sidebar */
    margin-top: 20px; /* เพิ่มระยะห่างด้านบน */
    margin-bottom: 20px; /* เพิ่มระยะห่างด้านล่าง */
}


button[type="submit"]:hover {
    background-color: #3572bd;
}

/* Checkbox styling */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #357abd;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background-color: #357abd;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 60px; /* เพิ่มระยะห่างตารางจาก sidebar */
    background-color: white;
}

table th {
    background-color: #357abd;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}

table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f2f9fc;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

/* การแจ้งเตือน */
.alert {
    padding: 20px;
    background-color: #4792ed; /* สีฟ้าสำหรับการแจ้งเตือน */
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-left: 60px; /* เพิ่มระยะห่างจาก sidebar */
}
